<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let project of projects"
        class="list-group-item"
        [class.selected]="project === selectedProject"
        (click)="onSelect(project)" >
      {{project.name}}
    </li>
  </ul>
  <button *ngIf="selectedProject"
          class="btn btn-danger"
          (click)="delete()">
    Delete
  </button>
</div>
<br>
<project-add [projects]="projects" title="Add Project"></project-add>
