<div class="container fill">
  <div class="header row">
      <div class="col">
       Backlog
      </div>
  </div>
  <div class="row fill cardholders">
      <div id="todo" class="col" [dragula]="'card-bag'">
        <board-card *ngFor="let item of backlog; let i = index"
                    [iterationItem]="item"
                    [editModal] = "editModal"
                    [itemAdd] = "itemAdd"
                    id="{{i}}">
          {{item.description}}
        </board-card>
      </div>
  </div>
</div>
<modal #editModal route="board">
  <div class="app-modal-header">
    <h5 class="modal-title">Edit Card</h5>
    </div>
    <div class="app-modal-body">
      <iteration-item-add #itemAdd (add)="editModal.hide()"></iteration-item-add>
    </div>
</modal>
