<div class="card">
  <div class="card-header">
    <span class="pull-left">{{iterationItem.name}}</span>
    <button id="delete" type="button" class="close" aria-label="Close">
      <span aria-hidden="true" (click)="delete()">&#10006;</span>
    </button>
    <button id="to-backlog" type="button" class="close" aria-label="Close">
      <span aria-hidden="true" (click)="toggleBacklog()">&#9850;</span>
    </button>
    <button id="edit" type="button" class="close" aria-label="Close">
      <span aria-hidden="true" (click)="edit()">&#9999;</span>
    </button>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{iterationItem.description}}
    </p>
  </div>
  <div class="card-footer text-muted">
    {{iterationItem.storyPoints}}
  </div>
</div>
